{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron text-center">
    <h1 class="display-3">Experiencia Laboral</h1>
    <p class="lead">
            Nada se vuelve real hasta que se experimenta, incluso un proverbio no es un proverbio hasta que tu vida lo haya ilustrado. 
    </p>
    <h4>
            John Keats
    </h4>
</div>
<div class="list">
        <ul>
                <li>
                        Eureka Consulting Group, gerente de Recursos Humanos. Actualidad.
                </li>
        </ul>
        
</div>
<h5 align = "right">
        *Empresa de la clase Global 2, ya que en realidad no he trabajado
</h5>


  {% endblock %}