{% extends 'layout.html' %}

{% block body %}

  <div class="jumbotron text-center">
    <h1 class="display-3">Formación Académica</h1>
    
    <p class="lead">
        Nunca consideres el estudio como una obligación, sino como una oportunidad para penetrar en el bello y maravilloso mundo del saber.
    </p>
    <h3>
        Albert Einstein
    </h3>
</div>
<div>
    &ensp;
    </div>
<div class="panel panel-primary">
  <h3 align="center">Colegio Cristiano La Estrella</h3>

</div>
<h4 align ="center"> Nivel Acádemico: Pre-primaria, Primaria, Básicos</h4>
<img align = "right" src="CCLEE.png">
<h4 align ="center"> Periodo: 2005-2015</h4>
<div>
    &ensp;
  </div>


<div class="panel panel-info"><h3 align="center">Colegio Americano de Guatemala</h3></div>
<h4 align ="center"> Nivel Acádemico: Bachillerato en Ciencias y Letras (PBA)</h4>
<img align = "right" src="American_School_of_Guatemala_Logo.png">
<h4 align ="center"> Periodo: 2015-2017</h4>
<div>
    &ensp;
    </div>

<div class="panel panel-danger"><h3 align="center">Universidad Francisco Marroquín</h3></div>
 
<h4 align ="center"> Nivel Acádemico: Licenciatura en Computer Science</h4>
<img align = "right" src="UFMM.png">
<h4 align ="center"> Periodo: 2018-Actualidad</h4>

<div>
&ensp;
</div>

  {% endblock %}